html {
  font-family: Georgia, serif;
  background-color: #495562;
  color: #fff;
}

img {
  max-height: 500px;
}

.btn-ghost {
  color: #fff;
  border-color: #97a49b;
}

.btn-ghost:hover {
  color: #495562;
  border-color: #efefef;
  background-color: #efefef;
}

@media only screen and (min-width: 38em) {

  .btn-ghost {
    position: absolute;
    right: 12px;
  }

}

@media only screen and (min-width: 60em) {

  html {
    background-color: transparent;
  }

  header {
    position: relative;
  }

  .btn-ghost {
    border-color: #fff;
    color: #fff;
  }

  .content-text {
    position: absolute;
    background-image: linear-gradient(to bottom, transparent, rgba(73, 85, 98, .6));
  }

}
